{% extends 'base.html.twig' %}

{% block title %}Detail Page{% endblock %}

{% block body %}

  <div class="d-flex  mt-3 col-4">
    <div class="card d-flex justifiy-content-center align-items-center" >
         <img src="{{ vich_uploader_asset(shoes) }}" alt="{{ shoes.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">La passion a l'état pur</h5>
          <p class="card-text"></p>
        </div>
    </div>



    <div class="card bg-light col-8">
          <div class="card-header"></div>
          <div class="card-body ">
            <h5 class="card-title">{{shoes.name}} </h5>
            <p class="card-text">{{shoes.description}}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{shoes.price}}</li>
              <li class="list-group-item">{{shoes.size}}</li>
              <li class="list-group-item">{{shoes.type}}</li>
            </ul>
          </div>
    </div>
  </div>

  <a class="Link" target="_self" href="/">Page d'accueil</a>

{% endblock %}
